:root {
  --robin-egg-blue: #26c9c3;
  --bunting: #191349;
  --white: #fff;
  --gallery: #f0f0f0;

  --easing: cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper {
  align-items: center;
  background: var(--gallery);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.faux-box {
  align-items: center;
  background: var(--robin-egg-blue);
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  padding: 20px 20px;
  position: relative;
}

/* circle morph on click */
.faux-box:after {
  background: var(--bunting);
  border-radius: 50%;
  content: "";
  display: block;
  height: 55px;
  position: absolute;
  right: 18px;
  transition: all 0.25s var(--easing);
  width: 55px;
  z-index: 1;
}

.hidePassword .faux-box:after {
  border-radius: 10px;
  height: 100%;
  right: 0;
  width: 100%;
}

/* lock icon */
.lock {
  fill: var(--bunting);
  height: 30px;
  margin-right: 15px;
  width: 30px;
  z-index: 10;
}

/* change lock color */
.hidePassword .lock {
  fill: var(--robin-egg-blue);
}

/* password field */
.password {
  background: none;
  border: none;
  border-left: 1px solid var(--white);
  height: 50px;
  width: 300px;
  padding: 0 20px;
  font-size: 18px;
  margin-right: 10px;
  font-family: monospace;
  z-index: 6;
}

/* change text color of password field */
.hidePassword .password {
  color: var(--white);
}

.password:focus {
  outline: none;
}

/* toggle button */
.toggle {
  background: none;
  border: none;
  cursor: pointer;
  height: 50px;
  outline: none;
  width: 50px;
}

/* eyeball icon inside button */
.toggle svg {
  height: 100%;
  overflow: visible;
  position: relative;
  top: -5px;
  width: 100%;
  z-index: 5;
}

/* animate pupil */
.pupil {
  clip-path: circle(96.77% at 14px 3px);
  transform: translateY(0);
  transition: clip-path 0.25s var(--easing), transform 0.25s var(--easing);
}

.hidePassword svg .pupil {
  clip-path: circle(107.53% at 14px 80px);
  transform: translateY(5px);
}

/* animate eyelid */
svg .eyelid {
  transition: all 0.25s var(--easing);
  transform-origin: 53.5px 70px;
}

.hidePassword svg .eyelid {
  transform: scaleY(-1);
}
